<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="addSong" method="post">
	<label>Song Name : </label>&nbsp;
	<input type="text" name="name">
	<br /><br />
	<label>Song Artist : </label>&nbsp;
	<input type="text" name="artist">
	<br /><br />
	<label>Song Genre : </label>&nbsp;
	<input type="text" name="genre">
	<br /><br />
	<label>Song Link : </label>&nbsp;
	<input type="text" name="link">
	<br /><br />
	<input type="submit" value="ADD SONG">
</form>
</body>
</html>